@import url(reset.css);
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\000033}}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\0000382}}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\0000386}}
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\0000392}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\0000395}}
em {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\0000399}}
.clear:after, .clear:before {
  content: '';
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003103}}
.clear:after {
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both; }

@keyframes arc {
  form {
    -webkit-transform: rotate3d(0, 0, 1, 0deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg); } }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003240}}
html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003243}}
.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f6f5; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003247}}
.hide-left {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003255}}
.header .title, .calendar-title {
  width: 100%;
  padding: 0 3.125rem;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.125rem;
  color: #000;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003263}}
.container {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003266}}
.left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003269}}
.right {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003272}}
.hide {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003275}}
.show {
  display: block; }

/*------------------------------header------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003279}}
.header {
  width: 100%;
  height: 3.125rem;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003288}}
  .header .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003292}}
  .header .back {
    position: absolute;
    width: 2.8125rem;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003191}}
    .header .back:after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border: 1px solid transparent;
      border-left-color: #24AEF2;
      border-bottom-color: #24AEF2;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003297}}
    .header .back:after {
      left: 15px;
      top: 50%;
      margin-top: -6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003303}}
  .header .over {
    position: absolute;
    line-height: 2.8125rem;
    right: 15px;
    top: 0;
    color: #24AEF2; }

/*------------------------------mask------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003312}}
.mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999; }

/*------------------------------dialog------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003321}}
.dialog-box {
  width: 87%;
  height: 180px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999999999; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003334}}
  .dialog-box .dialog-title {
    background: #24AEF2;
    line-height: 40px;
    text-indent: 10px;
    font-size: 12px;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003341}}
  .dialog-box .dialog-msg {
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003352}}
  .dialog-box .dialog-btn-wrap {
    width: 60%;
    height: 40px;
    margin: 0 auto;
    margin-top: 10%;
    display: -webkit-box;
    -webkit-box-pack: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003359}}
    .dialog-box .dialog-btn-wrap .dialog-btn {
      -webkit-flex: 1;
      width: 40%;
      height: 34px;
      border: 1px solid #24AEF2;
      border-radius: 5px;
      display: block;
      text-align: center;
      line-height: 34px;
      color: #666;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003371}}
    .dialog-box .dialog-btn-wrap .no {
      margin-left: 50px; }

/*------------------------------calendar------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003378}}
#calendar {
  padding-top: 5.625rem;
  z-index: 99999999; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003382}}
.calendar {
  background: #fff;
  border-top: 1px solid #eee; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003385}}
  .calendar span {
    width: 14.28%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #eee; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003396}}
  .calendar .cur-month {
    border-top: 1px solid #24AEF2; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003399}}
  .calendar .cur-day {
    color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003402}}
  .calendar .now {
    background: #24AEF2;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003407}}
  .calendar .weekday span {
    border: none;
    font-size: 0.75rem;
    color: #999; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003414}}
.calendar-title {
  font-size: 16px;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003418}}
  .calendar-title a {
    position: absolute;
    top: 0;
    width: 3.125rem;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003423}}
    .calendar-title a:after {
      margin-top: -5px;
      top: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003428}}
  .calendar-title .prev {
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003191}}
    .calendar-title .prev:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border: 1px solid transparent;
      border-left-color: #24AEF2;
      border-bottom-color: #24AEF2;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003432}}
  .calendar-title .next {
    right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003177}}
    .calendar-title .next:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 10px;
      height: 10px;
      border: 1px solid transparent;
      border-right-color: #24AEF2;
      border-bottom-color: #24AEF2;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }

/*------------------------------iscroll------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003439}}
.iscroll-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/*------------------------------loading------------------------------*/
@keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003450}}
.mask-loading {
  z-index: 95; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003452}}
  .mask-loading .load {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -40px 0 0 -30px;
    background: url(../img/loading.png) no-repeat;
    background-size: 50px;
    animation: loading 1s linear infinite; }

/*------------------------------footer------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003465}}
.footer {
  width: 100%;
  height: 36px;
  border-top: 1px solid #24AEF2;
  position: fixed;
  bottom: 0;
  z-index: 9999999;
  background: #fff;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003474}}
  .footer span {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    line-height: 36px;
    text-align: center;
    border-right: 1px solid #ccc;
    font-size: 14px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003162}}
    .footer span:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 7px;
      top: 17px;
      width: 6px;
      height: 6px;
      border-bottom: 1px solid #666;
      border-left: 1px solid #666;
      transform: rotate3d(0, 0, 1, 135deg);
      -webkit-transform: rotate3d(0, 0, 1, 135deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003482}}
    .footer span:last-child {
      border-right: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003486}}
  .footer span.on {
    border-top: 1px solid #24AEF2;
    color: #24AEF2; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003489}}
    .footer span.on:after {
      border-color: #24AEF2;
      transform: rotate3d(0, 0, 1, -45deg);
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      top: 14px; }

/*------------------------------footer-bar------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003510}}
.footer-bar {
  width: 100%;
  height: 170px;
  overflow-y: hidden;
  position: fixed;
  bottom: 36px;
  z-index: 9999999; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003517}}
  .footer-bar .bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003524}}
  .footer-bar li {
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003530}}
    .footer-bar li span {
      padding-top: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003534}}
    .footer-bar li:last-child {
      border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003538}}
  .footer-bar .checkbox {
    width: 14px;
    height: 14px;
    top: 9px;
    border: 1px solid #ccc;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003545}}
  .footer-bar .checked {
    color: #24AEF2; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003547}}
    .footer-bar .checked .checkbox {
      border: 1px solid #24AEF2; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003499}}
      .footer-bar .checked .checkbox:after {
        content: '';
        width: 6px;
        height: 10px;
        border-right: 1px solid #24AEF2;
        border-bottom: 1px solid #24AEF2;
        position: absolute;
        transform: rotate3d(0, 0, 1, 45deg);
        -webkit-transform: rotate3d(0, 0, 1, 45deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003550}}
      .footer-bar .checked .checkbox:after {
        left: 3px;
        top: -1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003557}}
.bar-hide {
  transform: translate3d(0, 120%, 0);
  -webkit-transform: translate3d(0, 120%, 0);
  transition: .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003562}}
.bar-show {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003567}}
.footer-bar-mask {
  z-index: 99999; }

/*---------------------------page-date---------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003571}}
.page-date {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background: #f5f6f5;
  border-bottom: 1px solid #eee;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003579}}
  .page-date section {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    line-height: 40px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003584}}
  .page-date span {
    margin-left: 10px;
    width: 100%;
    position: relative;
    color: #24AEF2; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003177}}
    .page-date span:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 8px;
      height: 8px;
      border: 1px solid transparent;
      border-right-color: #24AEF2;
      border-bottom-color: #24AEF2;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003590}}
    .page-date span:after {
      margin-top: -4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003595}}
.room-btn {
  font-size: 14px;
  color: #24AEF2;
  text-align: center;
  line-height: 26px;
  border: 1px solid #24AEF2;
  border-radius: 2px;
  margin-right: 20px;
  background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003604}}
  .room-btn.disabled {
    border-color: #f4f4f4;
    background: #f2f2f2;
    color: #999; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003610}}
.guarantee {
  padding: 1px 4px;
  background: orange;
  color: #fff;
  font-size: 12px;
  border-radius: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003617}}
.submit-footer {
  width: 100%;
  height: 3.125rem;
  line-height: 3.125rem;
  text-indent: 20px;
  background: #16498F;
  color: #fff;
  position: fixed;
  bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/public\.scss}line{font-family:\00003626}}
  .submit-footer .submit-btn {
    width: 35%;
    line-height: 3.125rem;
    position: absolute;
    right: 0;
    background: #24AEF2;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\000032}}
#detail {
  padding-top: 3.125rem;
  background: #f5f6f5;
  overflow-y: scroll; }

/*---------------------------detail-date-style----------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\000038}}
.detail-date {
  position: static;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom-color: #eee; }

/*---------------------------detail-hotel-img-style-----------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000315}}
.detail-hotel-img {
  width: 100%;
  height: 9.4375rem;
  overflow: hidden;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000320}}
  .detail-hotel-img img {
    width: 100%;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000324}}
  .detail-hotel-img .look-more {
    position: absolute;
    right: 0;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px; }

/*---------------------------detail-tab-style----------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000336}}
.detail-tab {
  width: 100%;
  height: auto;
  background: #fff;
  padding-top: 15px;
  margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000343}}
.detail-tab-title {
  margin: 0 15px;
  height: 32px;
  border: 1px solid #24AEF2;
  border-radius: 8px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000349}}
  .detail-tab-title span {
    float: left;
    width: 50%;
    text-align: center;
    line-height: 32px;
    font-size: 13px;
    color: #24AEF2;
    border-right: 1px solid #24AEF2; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000357}}
    .detail-tab-title span:last-child {
      border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000360}}
    .detail-tab-title span.on {
      color: #fff;
      background: #24AEF2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000366}}
.detail-tab-item-wrap {
  width: 200%;
  height: 190px;
  border-bottom: 1px solid #eee; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000370}}
  .detail-tab-item-wrap h3, .detail-tab-item-wrap p {
    border-bottom: 1px solid #eee; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000373}}
  .detail-tab-item-wrap h3 {
    font-size: 16px;
    color: #000;
    line-height: 50px;
    padding-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000379}}
  .detail-tab-item-wrap p {
    line-height: 40px;
    color: #666;
    font-size: 14px;
    padding-left: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000385}}
  .detail-tab-item-wrap p:nth-of-type(1) {
    background: url(../img/icon_collect.png) 5px center no-repeat;
    background-size: 18px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000389}}
  .detail-tab-item-wrap p:nth-of-type(2) {
    background: url(../img/icon_phone.png) 5px center no-repeat;
    background-size: 18px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\0000393}}
  .detail-tab-item-wrap p:last-child {
    border-bottom: none;
    line-height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: url(../img/icon_address.png) 5px center no-repeat;
    background-size: 18px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003101}}
.detail-tab-item {
  width: 50%;
  height: 180px;
  padding: 0 15px;
  overflow: hidden;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003107}}
  .detail-tab-item .article {
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003110}}
  .detail-tab-item article {
    font-size: 14px;
    color: #333;
    text-indent: 28px;
    line-height: 1.5;
    padding: 8px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003118}}
.room-type-show {
  width: 100%;
  height: 210px;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003123}}
.room-type-wrap {
  height: auto;
  background: #fff;
  border-bottom: 1px solid #eee; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003128}}
.room-type {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #eee;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003134}}
  .room-type:last-child {
    border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003137}}
  .room-type div {
    flex-grow: 1;
    -webkit-flex-grow: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003140}}
  .room-type .room-charactor {
    flex-grow: 2;
    -webkit-flex-grow: 2;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003145}}
    .room-type .room-charactor span {
      font-size: 12px;
      color: #666;
      margin: 3px 5px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003151}}
  .room-type .room-price {
    color: #F99027;
    text-align: end;
    margin-right: 35px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003158}}
.more {
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  background: #fff; }

/*---------------------------room-style-------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003167}}
.room {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 9999999999;
  transform: translate3d(0, 100%, 0);
  transition: transform .5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003177}}
  .room .close {
    position: absolute;
    right: 12px;
    top: -3px;
    font-size: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003183}}
  .room dl {
    height: 94px;
    padding: 12px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003187}}
    .room dl dt, .room dl img {
      width: 70px;
      height: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003191}}
    .room dl dd {
      flex-grow: 1;
      -webkit-flex-grow: 1;
      margin-left: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003195}}
    .room dl .title {
      font-size: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003198}}
    .room dl .price {
      color: orange;
      padding: 2px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003203}}
  .room dl ~ p {
    height: 50px;
    border-top: 1px solid #eee;
    line-height: 50px;
    text-indent: 38px;
    position: relative;
    color: #666; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003209}}
    .room dl ~ p:before {
      content: '';
      position: absolute;
      left: 18px;
      top: 50%;
      margin-top: -4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ddd; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003220}}
    .room dl ~ p span {
      float: right;
      margin-right: 12px;
      color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/work3\/6\.7\%20\%B0\%D9\%B4\%EE\%CE\%DD\/css\/detail\.scss}line{font-family:\00003227}}
  .room .book-btn {
    clear: both;
    width: 100%;
    line-height: 55px;
    height: 55px;
    background: #24AEF2;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px; }

/*# sourceMappingURL=detail.css.map */
